In [1]:
import os
import pandas as pd
import numpy as np
os.chdir(r'C:\Users\Pc\Desktop\Data Science Notes\IRIS')

In [2]:
cars_data = pd.read_csv('Toyota.csv',index_col=0,na_values=['??','????'])

In [5]:
cars_data2 = cars_data.copy(deep=True) #deep specifies that new DF will not refer to previous DF, it's optional by default it True

# Frequency Table

In [11]:
pd.crosstab(index=cars_data2['FuelType'], columns = 'count', dropna=True)

col_0     count
FuelType
CNG          15
Diesel      144
Petrol     1177

## Two way table

In [10]:
pd.crosstab(index=cars_data2['Automatic'], columns = cars_data2['FuelType'], dropna=True)

FuelType   CNG  Diesel  Petrol
Automatic
0           15     144    1104
1            0       0      73

## Two way table - Joint Probability

In [9]:
pd.crosstab(index=cars_data2['Automatic'], columns = cars_data2['FuelType'], normalize=True, dropna=True)

FuelType        CNG    Diesel    Petrol
Automatic
0          0.011228  0.107784  0.826347
1          0.000000  0.000000  0.054641

## Marginal Probability

In [12]:
pd.crosstab(index=cars_data2['Automatic'], columns = cars_data2['FuelType'], margins=True, normalize=True, dropna=True)

FuelType        CNG    Diesel    Petrol       All
Automatic
0          0.011228  0.107784  0.826347  0.945359
1          0.000000  0.000000  0.054641  0.054641
All        0.011228  0.107784  0.880988  1.000000

## Conditional Probability

In [14]:
#normalize='index'
pd.crosstab(index=cars_data2['Automatic'], columns = cars_data2['FuelType'], margins=True, normalize='index', dropna=True)

FuelType   CNG  Diesel    Petrol       All
Automatic
0          1.0     1.0  0.937978  0.945359
1          0.0     0.0  0.062022  0.054641

In [15]:
#normalize = 'columns'
pd.crosstab(index=cars_data2['Automatic'], columns = cars_data2['FuelType'], margins=True, normalize='columns', dropna=True)

FuelType   CNG  Diesel    Petrol       All
Automatic
0          1.0     1.0  0.937978  0.945359
1          0.0     0.0  0.062022  0.054641

## Correlation

In [16]:
num_data = cars_data2.select_dtypes(exclude=[object])

In [17]:
num_data.shape

(1436, 8)

In [23]:
corr_matrix = num_data.corr()
corr_matrix

,Price,Age,KM,HP,MetColor,Automatic,CC,Weight
Price,1.000000,-0.878407,-0.574720,0.309902,0.112041,0.033081,0.165067,0.581198
Age,-0.878407,1.000000,0.512735,-0.157904,-0.099659,0.032573,-0.120706,-0.464299
KM,-0.574720,0.512735,1.000000,-0.335285,-0.093825,-0.081248,0.299993,-0.026271
HP,0.309902,-0.157904,-0.335285,1.000000,0.064749,0.013755,0.053758,0.086737
MetColor,0.112041,-0.099659,-0.093825,0.064749,1.000000,-0.013973,0.029189,0.057142
Automatic,0.033081,0.032573,-0.081248,0.013755,-0.013973,1.000000,-0.069321,0.057249
CC,0.165067,-0.120706,0.299993,0.053758,0.029189,-0.069321,1.000000,0.651450
Weight,0.581198,-0.464299,-0.026271,0.086737,0.057142,0.057249,0.651450,1.000000